body{
font-family: Arial;
margin:0;
background:#f4f6f9;
}

nav{
background:#1e293b;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.container{
padding:40px;
}

.card{
background:white;
padding:20px;
margin:20px 0;
border-radius:8px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}